---
platform: windows

inputs:
- name: ci
- name: winc
  path: src/code.cloudfoundry.org/winc
- name: groot-binary

run:
  path: powershell
  args:
  - "-ExecutionPolicy"
  - "Bypass"
  - "-File"
  - ci/tasks/test-winc/run.ps1

params:
  WINC_TEST_ROOTFS:
  WINC_TEST_PERF_CONCURRENT_CONTAINERS: 15
