- name: Install zoom cli (linux)
  when: is_ubuntu
  apt:
    deb: "https://zoom.us/client/latest/zoom_amd64.deb"
    state: present
- name: Install zoom cli (osx)
  when: is_osx
  homebrew_cask: name=zoomus
  become: yes
  become_user: pivotal
